
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.netlify.app
 * 代码仓库
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
    
.search-container[data-v-73f7a32e]{position:relative;margin:20px 0;padding:20px;background-color:var(--el-fill-color);transition:background-color .3s}.search-container[data-v-73f7a32e]:first-child{margin-top:0}.search-container[data-v-73f7a32e]:last-child{margin-bottom:0}.search-container[data-v-73f7a32e] .el-form{margin-bottom:-10px}.search-container[data-v-73f7a32e] .el-form .el-select,.search-container[data-v-73f7a32e] .el-form .el-date-editor{width:100%}.search-container .more[data-v-73f7a32e]{position:relative;text-align:center;margin-bottom:-10px}
